@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans+Condensed:300');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 100%;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Open Sans Condensed", sans-serif;
}

ul, ol { list-style: none; }

img, video { max-width: 100%; height: auto; }

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}
