@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans+Condensed:300');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 100%;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Open Sans Condensed", sans-serif;
}

html, body { height: 100%; background-color: #fcd38a; }

ul, ol { list-style: none; }

img, video { max-width: 100%; height: auto; }

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.perspective-container {
  width: 30%;
  opacity: 0;
  min-width: 280px;
  min-height: 500px;
  max-width: 520px;
  height: auto;
  animation: slideDown .8s ease-in-out .4s forwards;
  perspective: 1200px;
}

.perspective-container h2 {
  color: #474747;
  font-weight: 100;
  font-size: 2.45em;
  text-align: center;
}

.front-card,
.back-card {
  width: 100%;
  height: 100%;
  padding: 25px;
  background: #fff;
  position: absolute;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: transform .6s ease-in-out;
  backface-visibility: hidden;
  top: 0;
}

.front-card {
  z-index: 900;
}

.front-card button,
.back-card button { cursor: pointer; }

.front-card h2 { margin-top: 10px; }

.front-card .bottle {
  width: 40%;
  padding-bottom: 40%;
  margin: 30px auto;
  background: url("../img/bottle.png") no-repeat center / 100%;
}

.front-card input[type="text"] {
  width: 75%;
  float: left;
  height: 45px;
  padding: 10px;
  border: 2px solid #462446;
  border-right: none;
  letter-spacing: 0.05em;
}

.front-card .add-applicant {
  width: 25%;
  color: #fff;
  height: 45px;
  padding: 10px;
  display: block;
  background: #462446;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.front-card .tags-container { margin-top: 15px; }

.front-card .tags-container .applicant {
  color: #fff;
  cursor: pointer;
  padding: 3px 8px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  margin: 5px 3px 0 0;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: background-color .3s ease;
}

.front-card .tags-container .applicant:after {
  font-family: FontAwesome;
  position: absolute;
  content: "\f00d";
  top: 50%;
  left: 50%;
  color: #fff;
  transition: transform .25s ease;
  transform: translate3d(-50%, -60px, 0);
}

.front-card .tags-container .applicant:nth-child(4n+1) { background-color: #FFC153; }
.front-card .tags-container .applicant:nth-child(4n+2) { background-color: #B05F6D; }
.front-card .tags-container .applicant:nth-child(4n+3) { background-color: #47B39D; }
.front-card .tags-container .applicant:nth-child(4n+4) { background-color: #EB6B56; }

.front-card .tags-container .applicant:hover { background-color: #ce1023; color: transparent; }
.front-card .tags-container .applicant:hover:after { transform: translate3d(-50%, -50%, 0); }

.btn {
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  transition: background .2s ease-in-out;
}

.front-card .sort-btn {
  width: 100%;
  border-radius: 5px;
  background-color: #EB6B56;
}

.front-card .sort-btn:hover,
.back-card .play-again:hover { background: #c65b49; }

.back-card {
  height: 100%;
  display: flex;
  z-index: 800;
  flex-direction: column;
  justify-content: center;
  transform: rotateY(-180deg);
}

.back-card h2 {
  color: #474747;
  font-weight: 100;
  margin-top: 10px;
  font-size: 2.45em;
  text-align: center;
}

.back-card p#result {
  text-align: center;
  margin-top: 10px;
  font-size: 1.3em;
}

.back-card button.sort-again  { background-color: #B05F6D; }
.back-card button.play-again  { background-color: #EB6B56; }

.back-card button.sort-again:hover  { background-color: #874752; }

.front-card.active { transform: rotateY(180deg); }
.front-card.active + .back-card { transform: rotateY(0deg); }

@keyframes slideDown {
  0% { opacity: 0; transform: translate3d(-50%, -100%, 0);}
  65% { transform: translate3d(-50%, -40%, 0);}
  100% { opacity: 1; transform: translate3d(-50%, -50%, 0);}
}
